body {
    height: 100vh;
    background-color: white;
}

canvas{
    border: 10px solid blue;
    margin: 5px; 
}

.canvasContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.gameAndPlotContainer {
    display: flex;
}

.gameCanvas {
    background: url('assets/epcc.png') no-repeat center center;
    background-size: 600px;
}

.lineCanvas {
    top: 900px;
}


