body {
    height: 100vh;
    background-color: rgb(233, 233, 233);
}

.content {
    width: 70%;
    height: 100%;
    transform: translate(21.43%, -10px);
    background-color: white;
}

.header {
    width: 100%;
    height: auto;
}

.textHeader {
    padding: 1.5vw;
    text-align: left;
    background: #3a414a;
    color: white;
    font-size: 1.6vw;
    transform: translate(0, -5%);
}


.gameCanvas {
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translate(-50%, -15%) scale(65%);

    background-color: white;

}
